/* -----------------------------------------------------------------------
타이포그래피 설정
----------------------------------------------------------------------- */

/* @font-face -> 웹폰트 사용을 위한 지시어(directive) */
/* html 파일과 같은 폴더에 들어있는 폰트 파일을 사용하는 경우 */
@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HSBombaram21-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HSBombaram3_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.1/HSBombaram3_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* -----------------------------------------------------------------------
header 영역 - 로고, 메인메뉴
----------------------------------------------------------------------- */

#main{
    position: relative;
    width: 1920px ;
    margin: 0 auto; /* 박스(#main-container)를 뷰포트의 가로 방향 가운데로 정렬 */

}
#title{
    font-family: 'HSBombaram21-Regular';
    position: fixed;
    width: 1920px;
    height: 250px;
    top: 750px;
    left: 17px;
    margin: 0px; padding: 50px;
    font-size: 220px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
#tt2{
    font-family: 'BookkMyungjo-Bd';
    position: fixed;
    width: 500px;
    height: 50px;
    top: 740px;
    right: 600px;
    margin: 0; padding: 0;
    font-size: 40px;
    display: flex;
}

#navmenu {
    display: flex;
    position: fixed;
    top: 1020px;
    right: 800px;
}
#navmenu p {
    margin: 0 20px;
}
/* #navmenu 요소에 포함된 a 태그 스타일 설정 */
#navmenu a {
    color: #000;
}
#navmenu a:link {
    text-decoration: none;
}
#navmenu a:hover {
    text-decoration: underline;
    color: blueviolet;
}


/* -----------------------------------------------------------------------
본문 영역
----------------------------------------------------------------------- */


#ff{
    position: absolute;
    width: 1000px ;
    left: 0px ;
    top: 80px ;
}

#Z{
    position: absolute;
    width: 550px ;
    right: 180px;
    top: 700px;
}

#second{
    position: relative;
    width: 800px;
    margin-left: 1020px;
    margin-top: 90px;
    margin-bottom: 80px;
}

#ssecond{
    position: relative;
    width: 800px;
    height: 1060px;
    margin-right: 1000px;
    left: 180px;

}
#st1{ font-family: 'IBMPlexSansKR-Regular';
    font-size: 18px;
    text-align: left }

#st2{ font-family: 'IBMPlexSansKR-Regular';
    font-size: 18px;
    text-align: left}