@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HSBombaram21-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HSBombaram3_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.1/HSBombaram3_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* { /* 모든 HTML 태그에 적용하는 스타일 */
}

#main{
    position: relative;
    width: 1920px ;
    margin: 0 auto; /* 박스(#main-container)를 뷰포트의 가로 방향 가운데로 정렬 */

}
#title{
    font-family: 'HSBombaram21-Regular';
    position: fixed;
    width: 1920px;
    height: 250px;
    top: 750px;
    left: 17px;
    margin: 0px; padding: 50px;
    font-size: 220px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
#tt2{
    font-family: 'BookkMyungjo-Bd';
    position: fixed;
    width: 500px;
    height: 50px;
    top: 740px;
    right: 620px;
    margin: 0; padding: 0;
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
}

#navmenu {
    display: flex;
    position: fixed;
    top: 1020px;
    right: 820px;
}
#navmenu p {
    margin: 0 20px;
}
/* #navmenu 요소에 포함된 a 태그 스타일 설정 */
#navmenu a {
    color: #000;
}
#navmenu a:link {
    text-decoration: none;
}
#navmenu a:hover {
    text-decoration: underline;
    color: blueviolet;
}

#main-container {
    position: relative;
    width: 960px;
    margin: 0 auto; /* 박스(#main-container)를 뷰포트의 가로 방향 가운데로 정렬 */
    margin-top: 150px;
    margin-bottom: 60px;
    /*background-color: bisque;*/
}


#korean{ 
    font-family: 'OTWelcomeRA';
    font-size: 40px;
    font-style: italic ;
    text-align: center;
}

#jeapan{
    font-family: 'OTWelcomeRA';
    font-size: 15px;
    top: 0px;
    text-align: center;
    color: rgb(157, 157, 157);
}

#profile{ 
    font-family: 'IBMPlexSansKR-Regular';
    font-size: 17px;
    text-align: center;
    line-height: 160%;
   }

#no11{
    position: absolute;
    width: 410px;
    right: 50px;
    top: 60px;


}
#prince{
    position:absolute;
    width: 400px;
    left: 50px ;
    top: 60px;
}

#name{
    font-family: 'PyeongChangPeace-Bold';
    position: relative;
    width: 900px;
    left: 500px;
    bottom: 730px;
    font-size: 80px;
    text-align: center;
    color: rgb(240, 240, 240);

}